{% extends "base.html" %}

{% block content%}
<form action="/change_email" method="post" novalidate="novalidate">
    <div class="form-group">
        <label for="newEmail">New Email address</label>
        <input type="email" class="form-control" id="newEmail" name="newEmail" aria-describedby="emailHelp"
               placeholder="New Email address" required="required">
        <small id="emailHelp" class="form-text text-muted">We'll send notifications to your new email</small>
    </div>
    <div class="form-group">
        <label for="passwordIn">Password</label>
        <input type="password" class="form-control" id="passwordIn" name="passwordIn" placeholder="Password" required="required">
    </div>

    <p>{{notification}}</p>
    <button type="submit" class="btn btn-primary">Update</button>

</form>

{% endblock %}