{% extends "base.html" %}

{% block content %}

<form action="/change_email" method="post">
    <div class="form-group">
        <label for="InputNewEmail">New Email Address</label>
        <input type="email" class="form-control" id="InputNewEmail" name="InputNewEmail" placeholder="Enter New Email"
               required="required">
    </div>
    <div class="form-group">
        <label for="InputPassword">Password</label>
        <input type="password" class="form-control" id="InputPassword" name="InputPassword" placeholder="Enter Password"
               required="required">
    </div>
    <p>{{message}}</p>
    <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}