{% extends "base.html" %}

{% block content%}
<form action="/change_password" method="post" novalidate="novalidate">
    <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="email" class="form-control" id="new_password" name="new_password" aria-describedby="emailHelp"
               placeholder="New password address" required="required">
        <small id="emailHelp" class="form-text text-muted">We'll send notifications to your new email</small>
    </div>
    <div class="form-group">
        <label for="passwordIn">Password</label>
        <input type="password" class="form-control" id="passwordIn" name="passwordIn" placeholder="Password" required="required">
    </div>
    

    <p>{{notification}}</p>
    <button type="submit" class="btn btn-primary" onclick="">Update</button>

</form>

{% endblock %}