{% extends "base.html"%}

{% block content%}

  <table class="table">
    <thead class="thead-light">  <thead>
    <tr>
      <th class="text-white">Currency</th>
      <th class="text-white">Code</th>
      <th class="text-white">Sell Rate</th>
      <th class="text-white">Buy Rate</th>
    </tr>
  </thead>
  <tbody>
  {% for position in range(0, 42)%}
    <tr class="text-white">
      <td align="left"><img src="https://wtms.wexchange.com.au/wtms/Assets/Currency/{{currencylist[position].code}}.png">&nbsp;{{currencylist[position].currency}}</td>
      <td>{{currencylist[position].code}}</td>
      <td>{{currencylist[position].sell_rate}}</td>
      <td>{{currencylist[position].buy_rate}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}