{% extends "base.html"%}

{% block content%}

  <table class="table">
    <thead class="thead-light">  <thead>
    <tr>  
      <th class="text-white">Currency</th>
      <th class="text-white">Code</th>
      <th class="text-white">Sell Rate</th>
      <th class="text-white">Buy Rate</th>
      <th class="text-white">add to watchlist</th>
      <th class="text-white">history trend</th>
    </tr>
  </thead>
  <tbody>
    <form method='POST'>
  {% for position in range(0, 42)%}
    <tr class="text-white">
      <td align="left"><img src="https://wtms.wexchange.com.au/wtms/Assets/Currency/{{currencylist[position].code}}.png">&nbsp;{{currencylist[position].currency}}</td>
      <td>{{currencylist[position].code}}</td>
      <td>{{currencylist[position].sell_rate}}</td>
      <td>{{currencylist[position].buy_rate}}</td>
      <td><a href="{{url_for('add_watchlist', currency=currencylist[position].currency, code=currencylist[position].code, sell_rate=currencylist[position].sell_rate, buy_rate=currencylist[position].buy_rate)}}"><input onclick="change(id)" type="button" value="add" id="{{position}}" class="btn btn-info"></input></a></td>
      <td><a href="{{url_for('history', code=currencylist[position].code)}}"><button type="button" class="btn btn-info">history</button></a></td>
    </tr>
    <script>
        function change(position) {
          document.getElementById(position).value = "added"
        }
    </script>  
  {% endfor %}
  </form>
  </tbody>
</table>

{% endblock %}