{% extends "base.html"%}

{% block content%}

<form action="/register" method="post">
    <div class="form-group row" style="margin-right: 0px; margin-left: 0px">
    <label for="nameIn">Name</label>
    <input type="name" class="form-control" id="nameIn" name="nameIn" placeholder="Enter your name" required="required">
  </div>

  <div class="form-group row" style="margin-right: 0px; margin-left: 0px">
    <label for="emailIn">Email address</label>
    <input type="email" class="form-control" id="emailIn" name="emailIn" aria-describedby="emailHelp" name="InputEmail" placeholder="Enter your email" required="required">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group row" style="margin-right: 0px; margin-left: 0px">
    <label for="passwordIn">Password</label>
    <input type="password" class="form-control" id="passwordIn" name="passwordIn" placeholder="Enter your password" required="required">
  </div>

<!--    <a href="/login">Login</a>-->
  <p><button type="button" class="btn btn-outline-success"><a href="/login">Login</a></button> Already have an account?

    <p>{{notification}}</p>
  <button type="submit" class="btn btn-outline-danger">Submit</button>
  </p>

</form>
{% endblock %}