{% extends "base.html" %}
{% block content %}
<div class="row">
    {% for a in find%}
<!--    style="background-color: #FAF0E6; border-color: #FAF0E6;"-->
  <div class="col-sm-8 alert-card" style="padding: 10px;">
    <div class="card">
      <div class="card-block">

          <form action="/update_reminder", method="post">
           <h3 class="card-title" style="color: darkred;">{{a.currency}}</h3>
           <input type="hidden" name="currency" value="{{a.currency}}">
              <div class="form-group row">
             <label for="update_sell" class="col-5 col-form-label" style="color: black;">Sell Rate:</label>
              <div class="col-7">
                    <input class="form-control form-input" type="tel" id="update_sell" name="update_sell" pattern="\d+\.?\d*" required="required" placeholder="{{a.price[0]}}">
                </div>
          </div>
          <div class="form-group row">
             <label for="update_buy" class="col-5 col-form-label" style="color: black;">Buy Rate:</label>
              <div class="col-7">
                    <input class="form-control form-input" type="tel" id="update_buy" name="update_buy" pattern="\d+\.?\d*" required="required" placeholder="{{a.price[1]}}">
                </div>
          </div>


    <button type = "submit" class="btn btn-primary btn-update">Update</button>

    </form>
    <form action="/delete_reminder" method="post">
        <input type="hidden" name="currency" value="{{a.currency}}">
        <button type = "submit" class="btn btn-primary btn-delete">Delete</button>

    </form>
      </div>
    </div>
  </div>
    {% endfor%}
</div>
{% endblock%}