{% extends "base.html"%}

{% block content%}
<!-- Search form -->

  <table class="table" style="margin-bottom: 1rem">
    <thead class="thead-light">  <thead>
    <tr>
      <th class="text-white">Currency</th>
      <th class="text-white">Code</th>
      <th class="text-white">Sell Rate</th>
      <th class="text-white">Buy Rate</th>
      <th class="text-white">remove from watchlist</th>
    </tr>
  </thead>
  <tbody>
      {% for a in find %}
        <tr class="text-white">
          <td>{{a.currency}}</td>
          <td>{{a.code}}</td>
          <td>{{a.sell_rate}}</td>
          <td>{{a.buy_rate}}</td>
          <td><a href="{{url_for('remove_watchlist', code=a.code)}}"><button type="button" class="btn btn-info">remove</button></a></td>
        </tr>
      {% endfor %}
</tbody>
</table>
{% endblock %}