{% extends "base.html"%}
{% block content %}
<form action="/create_reminder" method="post">


  <div class="form-group">
    <label for="input_currency">Foreign Currency</label>
    <select class="form-control" name="input_currency" id="input_currency" >
      {% for position in range(0, 42)%}
      <option value="{{currencylist[position].code}}">{{currencylist[position].code}} {{currencylist[position].currency}}</option>
      {% endfor%}
    </select>
    <small id="price_remind" class="form-text text-muted">You can add buy and sell rates here:)</small>
  </div>

      <div class="form-group">
    <label for="sell_rate">Sell Rate</label>
    <input type="text" class="form-control" id="sell_rate" name="sell_rate" required="required" pattern="\d+\.?\d*" aria-describedby="sellHelp" placeholder="Enter rate">
    <small id="sellHelp" class="form-text text-muted">Integer or decimal formatted, eg: 6 or 6.6</small>
  </div>

    <div class="form-group">
    <label for="buy_rate">Buy Rate</label>
    <input type="text" class="form-control" id="buy_rate" name="buy_rate" required="required" pattern="\d+\.?\d*" aria-describedby="buyHelp" placeholder="Enter rate">
    <small id="buyHelp" class="form-text text-muted">Integer or decimal formatted, eg: 6 or 6.6</small>
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
  <p align="left">{{curr_info}}</p>
  <p align="left">{{buy_info}}</p>
  <p align="left">{{sell_info}}</p>
  <p align="left">{{info}}</p>


</form>
{% endblock %}
